{% load static %}
<div id="home-hero-wrapper">

    <div id="home-hero-container">

        <div id="hero-left-ct">

            <div id="hero-text-ct">

                <h1>Спестете време и средства с нашите <span>добри практики</span></h1>
                <p>Освободете се от грижите за водене на записи и се фокусирайте върху своето производство – ние ще се
                    погрижим за всичко свързано с документацията по безопасността на храните.</p>

            </div>

            <div id="hero-actions">

                <div id="hero-call">

                    <h4>Обади ни се</h4>
                    <a href="tel:+359886118738"><img src="{% static 'images/phone-contacts.png' %}">+359886118738</a>

                </div>

                <div id="hero-email">

                    <h4>Пиши ни</h4>
                    <a href="mailto:dobripraktiki8@gmail.com"><img src="{% static 'images/mail.png' %}">dobripraktiki8@gmail.com</a>

                </div>

            </div>

        </div>

        <div id="hero-right-ct">

            <div id="hero-image">

                <img src="{% static 'images/home-hero-image.jpg' %}">

            </div>

        </div>

    </div>

</div>