<div id="home-carousel-wrapper">

    <div id="service-cards">

        <div class="service-card">

            <div class="service-card-text">

                <h2>Създаване</h2>
                <p>Създаване на добри производствени практики ,технологична документация и HACCP система</p>

            </div>

            <div class="service-card-button">

                <button>Още</button>

            </div>

        </div>

        <div class="service-card">

            <div class="service-card-text">

                <h2>Актуализиране</h2>
                <p>Актуализиране на вече съществуваща документация спрямо нововъведенията при промяна на технология...</p>
                
                
{#                <p>Актуализиране на вече съществуваща документация спрямо нововъведенията при промяна на технология,#}
{#                    машини и рецептура при промяна на законовите разпоредби</p>#}

            </div>

            <div class="service-card-button">

                <button>Още</button>

            </div>

        </div>

        <div class="service-card">

            <div class="service-card-text">

                <h2>Поддържане</h2>
                <p>Водене на записи свързани с входящ контрол на суровините и изходящ контрол на готовата продукция...</p>
                
{#                <p>Водене на записи свързани с входящ контрол на суровините и изходящ контрол на готовата продукция,#}
{#                    технологични дневници, следене за валидност на здравни книжки...</p>#}

            </div>

            <div class="service-card-button">

                <button onclick="">Още</button>

            </div>

        </div>

    </div>

</div>