{% load static %}
<div id="home-meeting-wrapper">

    <div id="home-meeting-container">

        <div id="meeting-left-ct">

            <div id="meeting-image">

                <img src="{% static 'images/meeting.png' %}">

            </div>

        </div>

        <div id="meeting-right-ct">

            <div id="meeting-text-ct">

                <h1>Безплатна консултация</h1>
                <p>Всичко започва от нашето запознване. Да се запознаем ние с идеята и с работата която трябва да се свърши. Очакваме вашето обаждане или среща на място в нашият офис.</p>

            </div>

        </div>

    </div>

</div>